$blueColor: #4650be;
$redColor: #ff6666;

$blueColor-dark1: darken(#4650be, 3%);
$blueColor-dark2: darken(#4650be, 6%);
$blueColor-dark3: darken(#4650be, 9%);
$blueColor-dark4: darken(#4650be, 30%);
$blueColor-light: lighten(#4650be, 3%);

$redColor-dark2: darken(#ff6666, 3%);

$whiteColor: #ffffff;
$grayColor1: #f7f9fc;
$grayColor2: #e0e3e5;
$grayColor3: #98a6ad;
$grayColor4: #6c757d;
$grayColor5: #313a46;
$grayColor6: #212529;

$babyBlueColor: #89e3ee;

$primaryColor: #4650be;
$primaryColor-dark: darken(#4650be, 5%);
$secondaryColor: #6c757d;
$secondaryColor-dark: darken(#6c757d, 5%);
$successColor: #0acf97;
$successColor-dark: darken(#0acf97, 5%);
$dangerColor: #e7365a;
$dangerColor-dark: darken(#e7365a, 5%);
$warningColor: #ffbc00;
$warningColor-dark: darken(#ffbc00, 5%);
$warningColor-light: lighten(#ffbc00, 5%);
$infoColor: #39afd1;
$infoColor-dark: darken(#39afd1, 5%);
$lightColor: #eef2f7;
$lightColor-dark: darken(#eef2f7, 5%);
$darkColor: #313a46;
$darkColor-dark: darken(#313a46, 5%);

